
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChiTiet</h2>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">      
        <div class="card-body">
            <label class="form-control" id="TenHocSinh" style="color: red"></label>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã Điểm Danh</th>
                            <th>ID Học Sinh Vắng</th>
                            <th>Ngày</th>
                            <th>Phép</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        @*@foreach (var item in Model as IEnumerable<DTO.DiemDanh>)
                        {*@
                            <tr>                                
                                @*<td>@Html.DisplayFor(modelitem => item.ID)</td>
                                <td>@Html.DisplayFor(modelitem => item.IDHocSinh)</td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.NgayNghi)
                                </td>
                                <td>
                                    @if (@item.Phep == 1)
                                    {
                                        @Html.Label("Có Phép")
                                    }
                                    else
                                    {
                                        @Html.Label("Không Phép")
                                    }
                                </td>

                            </tr>
                        }*@
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


