@model IEnumerable<DTO.ThongTinHS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Điểm Danh</h2>
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Vắng</th>
                            <th>ID</th>
                            <th>Tên Học Sinh</th>
                            <th>Giới Tính</th>
                            <th>Ngày Sinh</th>
                            <th>Dân Tộc</th>
                            <th>Tôn Giáo</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        @*@foreach (var item in Model)
                            {*@
                        <tr>
                            <td width="18%">
                                <div class="row">
                                    @*<div class="col">
                                            <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#myModal" onclick="getById(@item.ID);">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span>Vắng</span>
                                            </a>
                                        </div>*@
                                    <div class="col">
                                        <a href="@Url.Action("ChiTiet","ChiTietDiemDanh"@*,new {id = @item.ID}*@)" class="btn btn-success btn-icon-split" id="myRow">
                                            <span class="icon">
                                                <i class="fas fa-list-alt"></i>
                                            </span>
                                            <span>Chi Tiết </span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            @*<td>HS00<span>@Html.DisplayFor(modelitem => item.ID)</span></td>
                                        <td>@Html.DisplayFor(modelitem => item.Ten)</td>
                                        <td>
                                            @if (item.GioiTinh == 1)
                                            {
                                                @Html.Label("Nam")
                                            }
                                            else
                                            {
                                                @Html.Label("Nữ")
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.NgaySinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.DanToc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.TonGiao)
                                        </td>
                                    </tr>
                                }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


