
@{
    ViewBag.Title = "ChiTietVang";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
    var ID = ViewContext.RouteData.Values["id"];
}

<h2>Chi Tiết Ngày Vắng Học</h2>

<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Chi Tiết</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <label class="form-control" id="TenHocSinh" style="color: red"></label>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Điểm Danh</th>
                            <th width="15%">ID Học Sinh Vắng</th>
                            <th>Ngày</th>
                            <th>Phép</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        @foreach (var item in Model as IEnumerable<DTO.DiemDanh>)
                        {
                            <tr>
                                @*<td width="15%">
                                        <div class="row">
                                            <div class="col">
                                                <a href="#" class="btn btn-primary btn-icon-split" onclick="getByIdDiemDanh(@item.ID);openModal();">
                                                    <span class="icon">
                                                        <i class="fas fa-pen-square"></i>
                                                    </span>
                                                    <span>Sửa</span>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#" class="btn btn-danger btn-icon-split" onclick="Xoa(@item.ID)">
                                                    <span class="icon">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                    <span>Xóa</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>*@
                                <td width="12%">@Html.DisplayFor(modelitem => item.ID)</td>
                                <td>@Html.DisplayFor(modelitem => item.IDHocSinh)</td>
                                <td>
                                    @item.NgayNghi.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @if (@item.Phep == 1)
                                    {
                                        @Html.Label("Có Phép")
                                    }
                                    else
                                    {
                                        @Html.Label("Không Phép")
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IDModal">Mã Điểm Danh</label>
                        <input type="text" class="form-control" id="IDModal" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IDHocSinhModal">Mã Học Sinh</label>
                        <input type="text" class="form-control" id="IDHocSinhModal" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="NgayModal">Ngày Nghỉ</label>
                        <input type="text" class="form-control" id="NgayModal" />
                    </div>
                    <div class="form-group">
                        <label for="Phep">Phép</label>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="Phep" value="1" id="Phep">Có Phép
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Phep" value="0" id="Phep1">Không Phép
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="CapNhat();">Cập Nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Areas/Admin/Scripts/ChiTietVangGV.js"></script>
<script>
    $(document).ready(
        $.ajax({
                url: "/DiemDanhGV/getById/" + @ID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#TenHocSinh').text("Học Sinh : "+result.Ten);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            })
    );
</script>

