@model DTO.XinPhep
@{
    ViewBag.Title = "XinPhep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Home/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div class="title-page"><h2>Gửi Xin Phép</h2></div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })          
            <div class="form-group">
                <label>Nghỉ từ</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NghiTu, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.NghiTu, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label>Nghỉ Đến</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NghiDen, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.NghiDen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Lý Do</label>
                <div class="col-md-10">
                    
                    @Html.TextAreaFor(model => model.LyDo, new { htmlAttributes = new { @class = "form-control", type = "" } })
                    @Html.ValidationMessageFor(model => model.LyDo, "", new { @class = "text-danger" })
                </div>
            </div>          
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xin Phép" class="btn btn-warning" />
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
}




