@model IEnumerable<WEBSoLienLacDienTu.Areas.GiaoVien.Models.ListQuestionModel>
@{
    ViewBag.Title = "QuizDetails";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGiaoVien.cshtml";
}

<h2>Dữ Liệu Trắc Nghiệm</h2>
<hr />
<div class="row">

    <div style="margin-left: 10px">
        <a href="@Url.Action("Import_Quiz")" class="btn btn-success btn-icon-split" style="margin: 2px 10px" id="Excel">
            <span class="icon text-white-50">
                <i class="fas fa-plus-square"></i>
            </span>
            <span>Thêm Dữ Liệu</span>
        </a>
    </div>
</div>

<hr />
@if (Model.Count() != 0)
{
    <div class="container-fluid">
        <!-- Page Heading -->
        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <form>
                    <div class="input-group mb-3">
                        <h6 class="m-0 font-weight-bold text-primary">Dữ liệu</h6>

                    </div>
                </form>
            </div>
            <div class="card-body">
                <input class="form-control" id="myInput" type="text" placeholder="Tìm Kiếm Tài Liệu">
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã Câu Hỏi</th>
                                <th>Câu Hỏi</th>
                                <th>Câu Trả Lời</th>
                                <th>Giải Thích</th>
                            </tr>
                        </thead>

                        <tbody id="myTable">

                            @foreach (var item in Model.GroupBy(x => x.ID).Select(x => x.FirstOrDefault(p => p.CorrectAns == 1)))
                            {
                                <tr>
                                    <td width="15%">
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.Question
                                    </td>
                                    <td>
                                        @foreach (var item1 in Model.Where(x => x.ID == item.ID))
                                        {
                                            if (item1.CorrectAns == 1)
                                            {
                                                <label style="color:red;margin:0;">
                                                    @item1.Answer
                                                </label> <br />

                                            }
                                            else
                                            {
                                                @item1.Answer <br />
                                            }

                                        }

                                    </td>
                                    <td>
                                        @if (item.ExplainAns == "")
                                        {
                                            <p>không có</p>
                                        }
                                        else
                                        {
                                            @item.ExplainAns
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


}
else
{
    <div class="container-fluid">
        <!-- Page Heading -->
        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <form>
                    <div class="input-group mb-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Tài Liệu</h6>

                    </div>
                </form>
            </div>
            <div class="card-body">
                <input class="form-control" id="myInput" type="text" placeholder="Tìm Kiếm Tài Liệu">
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã Tài Liệu</th>
                                <th>Tên Tài Liệu</th>
                                <th>Ngày Tạo</th>
                            </tr>

                        </thead>

                        <tbody id="myTable">
                        </tbody>
                    </table>
                    <div class="box" style="margin: 0 auto; width: 80%;">
                        <div style="margin: 0 auto; width: 50%;">
                            <p style="font-weight: bold;text-align: center; margin-bottom: 0; color: red;">Trống</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>