
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Admin/HomeAdmin/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div class="title-page"><h2>Trang Quản Lý Môn Học</h2></div>

</div>
<hr />
<a href="@Url.Action("Create","QuanLyMonHoc")" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus-square"></i>
    </span>
    <span>Thêm Môn Học</span>
</a>
<hr />
<div >
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Môn Học</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sửa</th>
                            <th>Xóa</th>
                            <th>Tên Môn</th>
                            <th>Hệ Số 10</th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        @foreach (var item in Model as IEnumerable<DTO.MonHoc>)
                        {
                            if (item.ID > 15)
                            {
                                <tr>
                                    <td width="7%">
                                        <div>
                                            <a href="@Url.Action("Update","QuanLyMonHoc",new {@id=item.ID})" class="btn btn-primary btn-icon-split">
                                                <span class="icon">
                                                    <i class="fas fa-pen-square"></i>
                                                </span>
                                                <span>Sửa</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td  width="7%">
                                        <div>
                                            <a href="#" class="btn btn-danger btn-icon-split" onclick="Delete(@item.ID);">
                                                <span class="icon">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span>Xóa</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(modelitem => item.TenMon)</td>
                                    <td>
                                        @if (item.LoaiDiem == 0)
                                        {
                                            <label>Không</label>
                                        }
                                        else
                                        {
                                            <label>Có</label>
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td width="7%">
                                        <div>
                                            <a href="#" class="btn btn-icon-split" onclick="ThongBao();">
                                                <span class="icon">
                                                    <i class="fas fa-pen-square"></i>
                                                </span>
                                                <span>Sửa</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td  width="7%">
                                        <div>
                                            <a href="#" class="btn btn-icon-split" onclick="ThongBao();">
                                                <span class="icon">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span>Xóa</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(modelitem => item.TenMon)</td>
                                    <td>
                                        @if (item.LoaiDiem == 0)
                                        {
                                            <label>Không</label>
                                        }
                                        else
                                        {
                                            <label>Có</label>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="~/Areas/Admin/Scripts/QuanLyMonHoc.js"></script>