
@{
    ViewBag.Title = "LoadTable";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var ID = ViewContext.RouteData.Values["id"];
}


<hr />
<div class="container-fluid">
    <div><button class="btn btn-danger" style="margin-left: 10px; float: right" onclick="location.href='/Admin/LienKetTaiKhoanPH/Index'"><i class="fas fa-sign-out-alt"></i></button></div>
    <div>
        <div class="title-page"><h2>Tài Khoản Liên Kết</h2></div>
    </div>
</div>
<hr />
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div style="border-style: groove">
        <span><label id="maLop" class="font-weight-bold text-danger" style="margin:5px 5px"></label></span>
        <span><label id="tenLop" style="margin: 5px 5px" class="font-weight-bold text-danger"></label></span>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Học Sinh</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <input class="form-control" id="myInput" type="text" placeholder="Tìm Kiếm Học Sinh">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
                    <thead style="background-color: darkorange; color: white;">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Mã Học Sinh</th>
                            <th>Tên Học Sinh</th>
                            <th width="30%">Tài Khoản Phụ Huynh Liên Kết</th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        @foreach (var item in Model as IEnumerable<WEBSoLienLacDienTu.Areas.Admin.Models.DanhSachLienKetPhModel>)
                        {
                            <tr>
                                <td width="8%">
                                    @if (item.TaiKhoan == "")
                                    {
                                        <a href="#" onclick="clearTXT();ShowModalAdd(@item.ID);" style="width: 100%;" class="btn btn-success btn-icon-split">
                                            <span class="icon">
                                                <i class="fas fa-plus-square"></i>
                                            </span>
                                            <span>Thêm</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" onclick="clearTXT();ShowModalUpdate(@item.ID);" style="width: 100%;" class="btn btn-primary btn-icon-split">
                                            <span class="icon">
                                                <i class="fas fa-pen-square"></i>
                                            </span>
                                            <span>Sửa</span>
                                        </a>
                                    }
                                </td>
                                <td width="8%">
                                    @if (item.TaiKhoan == "")
                                    {
                                        <a href="#" style="width: 100%; pointer-events: none; cursor: default;" class="btn btn-icon-split">
                                            <span class="icon">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span>Xóa</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" style="width: 100%;" onclick="return Xoa(@item.ID);" class="btn btn-danger btn-icon-split">
                                            <span class="icon">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span>Xóa</span>
                                        </a>
                                    }
                                </td>
                                <td>
                                    HS00<span>@Html.DisplayFor(modelitem => item.ID)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Ten)
                                </td>
                                <td>
                                    @if (item.TaiKhoan == "")
                                    {
                                        <label>Chưa Có</label>
                                    }
                                    else
                                    {
                                        <label style="font-weight: bold; color: red;">@item.TaiKhoan</label>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="modal hide fade in" id="LienKetModal" tabindex="-1" role="dialog" aria-labelledby="LienKetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tìm Kiếm Tài Khoản</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10" style="padding: 6px;">
                            <input class="form-control" id="searchInput" type="text" placeholder="Nhập Tên Tài Khoản">
                        </div>
                        <button class="btn btn-warning col-md-2" onclick="return Loadtable();" style="margin-top: 2px; color: white; font-weight: bold;" id="btnSearchAdd">Tìm Kiếm</button>
                        <button class="btn btn-warning col-md-2" onclick="return Loadtable1();" style="margin-top: 2px; color: white; font-weight: bold; display: none;" id="btnSearchUpdate">Tìm Kiếm</button>
                    </div>
                    <div class="container-fluid ketqua" style="display: none; margin-top: 6px; ">
                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                                        <thead style="background-color: darkorange; color: white; height: 100px;">
                                            <tr>
                                                <th></th>
                                                <th>Mã TK</th>
                                                <th>Tài Khoản</th>
                                                <th>Tên Mẹ</th>
                                                <th>SĐT</th>
                                                <th>Tên Bố</th>
                                                <th>SĐT</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TimKiemTable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Areas/Admin/Scripts/LienKetTaiKhoanPH.js"></script>
<script>
    $(document).ready(
        $.ajax({
            url: "/QuanLyThongTinHS/LoadTenLopByID/" + @ID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#maLop').text("Mã Lớp : "+result.ID);
                $('#tenLop').text("Tên Lớp : "+result.TenKhoi + result.TenLop);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    );
</script>