@model IEnumerable<DTO.ThongTinHS>
@{
    ViewBag.Title = "Vang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Học Sinh Vắng</h2>

<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form>
                <div class="input-group mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Học Sinh</h6>

                </div>
            </form>
        </div>
        <div class="card-body">
            <input class="form-control" id="myInput" type="text" placeholder="Tìm Kiếm Học Sinh">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Vắng</th>
                            <th>ID</th>
                            <th>Tên Học Sinh</th>
                            <th>Giới Tính</th>
                            <th>Ngày Sinh</th>
                            <th>Dân Tộc</th>
                            <th>Tôn Giáo</th>
                        </tr>
                    </thead>

                    <tbody id="myTable" class="tbody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="18%">
                                    <div class="row">
                                        <div class="col">
                                            <a href="#" class="btn btn-primary btn-icon-split" onclick="getById(@item.ID);openModal();">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span>Vắng</span>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a href="@Url.Action("ChiTietVang","DiemDanh",new {id = @item.ID})" class="btn btn-success btn-icon-split" id="myRow">
                                                <span class="icon">
                                                    <i class="fas fa-list-alt"></i>
                                                </span>
                                                <span>Chi Tiết </span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>HS00<span>@Html.DisplayFor(modelitem => item.ID)</span></td>
                                <td>@Html.DisplayFor(modelitem => item.Ten)</td>
                                <td>
                                    @if (item.GioiTinh == 1)
                                    {
                                        @Html.Label("Nam")
                                    }
                                    else
                                    {
                                        @Html.Label("Nữ")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.NgaySinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.DanToc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.TonGiao)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IDModal">ID Học Sinh</label>
                        <input type="text" class="form-control" id="IDModal" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="TenModal">Tên Học Sinh</label>
                        <input type="text" class="form-control" id="TenModal" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Phep">Phép</label>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="Phep" value="1" id="Phep">Có Phép
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Phep" value="0" id="Phep1">Không Phép
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Them();">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Areas/Admin/Scripts/Vang.js"></script>


