@model WEBSoLienLacDienTu.Models.DangNhapModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-School | US Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
          integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <meta name="google-site-verification" content="hJxZqzhZDb2DrZU-fmrIrZS15dd1PfHLCucJxmdFWdY" />

    <link href="~/Assets/Css/Style.css" rel="stylesheet" />
</head>

<body>

    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="~/Assets/Img/Ust.png" />
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <span class="icon-user"><i class="fas fa-user"></i></span>
                        @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", @placeholder = "Tên Đăng Nhập", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <span class="icon-pass"><i class="fas fa-lock"></i></span>
                        @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password" })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Đăng Nhập</button>

                    <button type="button" onclick="window.location.href = '/HeThongTaiLieu/User/Login_TaiLieuONL'" class="btn">Hệ Thống Tài Liệu</button>
                }
                <div class="col-12 forgot">
                    <a href="https://drive.google.com/open?id=1FsFsaOEpQdpSLa9VPqIGX4FxQNNXiR1bayBNj-Q-5-o" target="_blank">Quên Mật Khẩu ?</a>
                </div>
            </div>
            <!--Khung Form Dang Nhap-->
        </div>

    </div>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>

</html>
